---
type Props = {
  img?: string;
  text: string;
  name: string;
  rol?: string;
  logo?: string;
  company?: string;
};

const { img, text, name, rol, logo, company } = Astro.props;
---

<div
  class="w-[clamp(300px,40vw,400px)] rounded-3xl border-[1.5px] border-[#3A3E32] h-[clamp(350px,40vw,400px)] bg-[#F6FAF2] p-4 shadow-sm shadow-[#3a3e32b2] mr-4"
>
  <div class="grid h-full place-items-center gap-4 text-[#1D1D1B]">
    <div class="w-[80px] rounded-full">
      <img
        class="rounded-full"
        src={img ? img : "/img/avatar.avif"}
        alt=`${name} imagen`
      />
    </div>
    <div class="text-center text-pretty text-[clamp(14px,1vw+5px,18px)]">
      <p>{text}</p>
    </div>
    <div class="text-center text-pretty text-lg">
      <p><strong>{name}</strong>{rol ? `, ${rol}` : ""}</p>
    </div>
    <div
      class=`gap-4 ${company?"flex":"hidden"} justify-center items-center text-center text-pretty text-base sm:text-lg`
    >
      <img
        class="w-[40px] sm:w-[50px] rounded-full"
        src={logo ? logo : ""}
        alt=`${company} logo`
      />
      <p>{company}</p>
    </div>
  </div>
</div>
