---
type Props = {
  title: string;
  short_description: string;
  long_description: string;

  urlContactoWhatsapp?: string;
  cardBackground?: string;
};

const {
  title,
  short_description,
  long_description,
  cardBackground,
  urlContactoWhatsapp,
} = Astro.props;
---

<div class="card__service__mobile h-[500px] shadow-md">
  <img
    src={cardBackground}
    alt=`Imagen de ${title}`
    class="relative w-full h-full object-cover object-center -z-10"
  />
  <div class="content__container">
    <div class="card__init__container opacity-100 z-10">
      <div class="title__on__hover font-black text-[50px] 2xl:text-[70px]">
        <p>
          {title}
        </p>
        <p class="card__description__not__hover leading-normal text-base">
          {short_description}
        </p>
        <a
          href={urlContactoWhatsapp}
          target="_blank"
          class="card__button cursor-pointer text-[#3A3E32] bg-[#D4DCC0] hover:bg-[#3A3E32] hover:text-[#D4DCC0] transition-all duration-700 ease-linear"
        >
          <button class="text-sm lg:text-xl 2xl:text-2xl"> Conocer m치s </button>
        </a>
      </div>
    </div>

    <!--    <div class="card__on__hover__container z-10">
      <div class="title__on__hover__container">
        <div class=`title__on__hover  font-black text-[50px] 2xl:text-[70px]`>
          <p
            style={`${title === "Automotores" ? "--margin:0px" : "--margin:24px"}`}
          >
            {title}
          </p>

          <a
            href={urlContactoWhatsapp}
            target="_blank"
            class="card__button cursor-pointer text-[#3A3E32] bg-[#D4DCC0] hover:bg-[#3A3E32] hover:text-[#D4DCC0] transition-all duration-700 ease-linear"
          >
            <button class="text-sm lg:text-xl 2xl:text-2xl">
              Conocer m치s
            </button>
          </a>
        </div>
      </div>
      <div class="description__on__hover__container">
        <p>
          {long_description}
        </p>
      </div>
    </div> -->
  </div>
  <!--   <div
    class=`card__content ${reverse===true?"flex-col-reverse":"flex-col"} p-5`
  >
    <div class="title">
      <div>
        <Title
          className=" text-[54px] "
          title1={title}
          title2={title2}
        />
      </div>
      <div class="button__container">
        <a
          href={urlContactoWhatsapp}
          target="_blank"
          class="card__button cursor-pointer z-10"
          style={`background:${colorIconbackground}`}
        >
          {
            title2 === "Seguros" || title2 === "Vida" ? (
              <button class="text-sm lg:text-xl 2xl:text-2xl text-[#262727]">
                Conocer m치s
              </button>
            ) : (
              <button class="text-sm lg:text-xl 2xl:text-2xl text-white">
                Conocer m치s
              </button>
            )
          }
        </a>
      </div>
    </div>
    <div class="description">
      <div class="description__container__top">
        <div
          class=`card__image__container`
          style={`background:${colorIconbackground}`}
        >
          <img
            class="card__image w-[70px] lg:w-[70px] 2xl:w-[80px]"
            src={icon}
            alt=`Icono ${title} ${title2}`
          />
        </div>
        <div>
          <p class="card__number">0{id}</p>
        </div>
      </div>

      <p class="card__description__not__hover leading-normal">
        {short_description}
      </p>
    </div>
  </div> -->
</div>

<style>
  .card__service__mobile {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
  }
  .card__service__mobile::before {
    content: "";
    position: absolute;
    flex: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262727;
    opacity: 0.4;
  }

  .content__container {
    position: absolute;
    padding: 1.25rem;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    opacity: 1;
  }

  .title__on__hover {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.5rem;
    width: 100%;
    height: 100%;

    & p {
      color: #e7e7e7;
      text-shadow: #1d1d1b 6px 3px 10px;
    }
    & .card__button {
      width: fit-content;
      display: flex;
      align-self: flex-end;
      flex-wrap: nowrap;
      border-radius: 40px;
      padding-inline: 2rem;
      padding-block: 1rem;
      font-weight: 600;
    }
  }
</style>
