---
import MailSVG from "../svgComponents/MailSVG.astro";

type Props = {
  name: string;
  rol: string;
  image: string;
  description: string;
  email: string;
  reverse: boolean;
};

const { name, rol, image, description, email, reverse } = Astro.props;
---

<div
  class=`w-[95%] 2xl:w-[80%] flex justify-around  items-center ${reverse ? 'flex-row-reverse' : 'flex-row'}  p-0 lg:p-10 gap-20  lg:gap-32 mb-20 lg:mb-10 last:mb-0 `
>
  <div
    class=`relative img__after `
    style={`--image-url: url(${image})`}
    data-aos={reverse ? "fade-right" : "fade-left"}
    data-aos-duration="2000"
    data-aos-once="true"
    data-aos-offset="300"
  >
    <img
      src={image}
      alt=`Imagen de ${name}`
      class=`w-[400px] h-[400px] relative z-10 object-cover`
    />
  </div>
  <div
    class="flex flex-col w-[60%] px-6"
    data-aos={reverse ? "fade-left" : "fade-right"}
    data-aos-duration="2000"
    data-aos-once="true"
    data-aos-offset="300"
  >
    <h4 class="text-[40px] mb-1 font-bold text-[#1d1d1bde]">{name}</h4>
    <h5 class="text-[#3a3e32] font-semibold tracking-wide text-2xl mb-1">
      {rol}
    </h5>
    <p class="text-xl text-pretty mb-5">{description}</p>
    <span class="w-full flex justify-end items-center gap-4">
      <a
        href=`mailto:${email}`
        aria-label=`Link para copiar el mail ${name}`
        id="mailName"
        class="transition hover:scale-150"
      >
        <MailSVG
          currenteColor="#c2cda5"
          width="30"
          height="30"
        />
      </a>
    </span>
  </div>
</div>

<style>
  .img__after::after {
    content: "";
    position: absolute;
    scale: 1.01;
    height: 100%;
    width: 100%;
    background-image: var(--image-url);
    background-size: cover;
    filter: blur(15px);
    opacity: 0.8;

    top: 0;
    right: 0;
    z-index: 1;
  }

  .cormorant {
    font-family: "Cormorant Garamond", serif;
  }
</style>
